stages:
  - build
  - deploy

build:
  stage: build
  script:
    - docker build -t myapp/storage ./storage
    - docker build -t myapp/gateway ./gateway
    - docker build -t myapp/management ./management
    - docker build -t myapp/monitoring ./monitoring

deploy:
  stage: deploy
  script:
    - docker-compose down
    - docker-compose up -d

