stages:
  - build
  - deploy
  - clean

variables:
  TARGET_IP: "86.50.22.0"
  TARGET_USER: "ubuntu"
  SSH_PRIVATE_KEY_B64: "$SSH_PRIVATE_KEY"  

# ------------------- SSH SETUP -------------------
.before_ssh: &before_ssh |
  mkdir -p /root/.ssh
  chmod 700 /root/.ssh
  printf "%s" "$SSH_PRIVATE_KEY_B64" | base64 -d > /root/.ssh/key.pem
  chmod 600 /root/.ssh/key.pem
  echo -e "Host *\n\tStrictHostKeyChecking no\n" > /root/.ssh/config

# ------------------- BUILD -------------------
build:
  stage: build
  image: alpine:latest
  tags:
    - csc
  rules:
    - if: '$CI_COMMIT_TAG == "deploy"'
  script:
    - echo "Checking service directories..."
    - test -d ./service1 || (echo "service1 missing!" && exit 1)
    - test -d ./storage || (echo "storage missing!" && exit 1)
    - echo "Build checks complete"

# ------------------- DEPLOY -------------------
deploy:
  stage: deploy
  image: alpine:latest
  tags:
    - csc
  needs: []
  rules:
    - if: '$CI_COMMIT_TAG == "deploy"'
  before_script:
    - apk add --no-cache openssh-client python3 py3-pip rsync ansible bash curl
    - *before_ssh
  script:
    - echo "[target]" > inventory.ini
    - echo "$TARGET_IP ansible_user=$TARGET_USER ansible_ssh_private_key_file=/root/.ssh/key.pem" >> inventory.ini
    - ansible-playbook -i inventory.ini deploy.yml
  after_script:
    - echo "Deployment finished"

# ------------------- CLEAN -------------------
clean:
  stage: clean
  image: alpine:latest
  tags:
    - csc
  needs: ["deploy"]
  rules:
    - if: '$CI_COMMIT_TAG == "deploy"'
  before_script:
    - apk add --no-cache openssh-client python3 py3-pip rsync ansible bash curl
    - *before_ssh
  script:
    - echo "[target]" > inventory.ini
    - echo "$TARGET_IP ansible_user=$TARGET_USER ansible_ssh_private_key_file=/root/.ssh/key.pem" >> inventory.ini
    - ansible-playbook -i inventory.ini clean.yml
  after_script:
    - echo "Cleanup finished"
