stages:
  - build
  - test
  - package
  # - smoke_test
  # - deploy

variables:
  HARBOR_URL: "harbor.treok.eu"
  PROJECT: "devops_compcs140"
  TAG: "$CI_COMMIT_REF_NAME"   # or temporary tag
  APP_VERSION: "$TAG"
  ACTIVE_BACKEND: "blue"
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

before_script:
  - echo "$HARBOR_PASSWORD" | docker login $HARBOR_URL -u "$HARBOR_USERNAME" --password-stdin

# ====================
# Build Stage
# ====================
build:
  stage: build
  #image: alpine:latest
  image: python:3.11
  script:
    - echo "Preparing build artifacts..."
    # Create build targets
    - mkdir -p build
    # Copy necessary files
    - cp -r ./* build/

    # -----------------------
    # Compile Python services
    # -----------------------
    - cd service1 && python -m compileall . -d ../build/service1 && cd ..
    - cd service2 && python -m compileall . -d ../build/service2 && cd ..
    - cd storage && python -m compileall . -d ../build/storage && cd ..
    - cd management && python -m compileall . -d ../build/management && cd ..
    - cd monitoring && python -m compileall . -d ../build/monitoring && cd ..
    - cd gateway && python -m compileall . -d ../build/gateway && cd ..

    - echo "Build artifacts prepared."

  artifacts:
    paths:
      - build/
    expire_in: 1h

# ====================
# Test Stage
# ====================
test:
  stage: test
  image: python:3.12
  variables:
    PYTHONPATH: "${CI_PROJECT_DIR}"
  dependencies:
    - build
  before_script:
    - pip install -r build/service1/requirements.txt
    - pip install pytest
  script:
    - pytest build/service1/tests -v

# =========================
# Package Stage
# =========================
package:
  stage: package
  image: docker:26
  services:
    - docker:26-dind
  variables:
    DOCKER_HOST: "tcp://docker:2375"
    DOCKER_TLS_CERTDIR: ""
    PYTHONPATH: "${CI_PROJECT_DIR}"
  dependencies:
    - build
  script:
    - until docker info; do echo "Waiting for Docker daemon..."; sleep 1; done

    - echo "$HARBOR_PASSWORD" | docker login $HARBOR_URL -u "$HARBOR_USERNAME" --password-stdin
    # Build Docker images for all services
    - docker build -t $HARBOR_URL/$PROJECT/service1:$TAG build/service1
    - docker build -t $HARBOR_URL/$PROJECT/service2:$TAG build/service2
    - docker build -t $HARBOR_URL/$PROJECT/storage:$TAG build/storage
    - docker build -t $HARBOR_URL/$PROJECT/management:$TAG build/management
    - docker build -t $HARBOR_URL/$PROJECT/monitoring:$TAG build/monitoring
    - docker build -t $HARBOR_URL/$PROJECT/gateway:$TAG build/gateway

    # push to Harbor
    - docker push $HARBOR_URL/$PROJECT/service1:$TAG
    - docker push $HARBOR_URL/$PROJECT/service2:$TAG
    - docker push $HARBOR_URL/$PROJECT/storage:$TAG
    - docker push $HARBOR_URL/$PROJECT/management:$TAG
    - docker push $HARBOR_URL/$PROJECT/monitoring:$TAG
    - docker push $HARBOR_URL/$PROJECT/gateway:$TAG
  after_script:
    - docker system prune -f

# ====================
# Smoke Test Stage
# ====================
# smoke_test:
#   stage: smoke_test
#   image: docker:26
#   services:
#     - docker:26-dind
#   script:
#     - until docker info; do echo "Waiting for Docker daemon..."; sleep 1; done
#     - docker network create smoke_net || true
#     - docker run -d --name storage_test --network smoke_net $HARBOR_URL/$PROJECT/compse140-test-storage:$TAG
#     - docker run -d --name service1_blue_test --network smoke_net $HARBOR_URL/$PROJECT/compse140-test-service1:project1.0
#     - docker run -d --name service1_green_test --network smoke_net $HARBOR_URL/$PROJECT/compse140-test-service1:project1.1
#     - docker run -d --name service2_blue_test --network smoke_net $HARBOR_URL/$PROJECT/compse140-test-service2:project1.0
#     - docker run -d --name service2_green_test --network smoke_net $HARBOR_URL/$PROJECT/compse140-test-service2:project1.1
#     - docker run -d --name management_test --network smoke_net $HARBOR_URL/$PROJECT/compse140-test-management:$TAG
#     - sleep 5
#     - echo "Smoke test completed."
#   after_script:
#     - docker rm -f storage_test service1_blue_test service1_green_test service2_blue_test service2_green_test management_test || true
#     - docker system prune -f

# # ====================
# # Deploy Stage
# # ====================
# deploy:
#   stage: deploy
#   image: alpine:3.18
#   variables:
#     SHELL: /bin/sh
#   before_script:
#     - apk add --no-cache openssh bash
#     - mkdir -p ~/.ssh
#     - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
#     - chmod 600 ~/.ssh/id_rsa
#     - eval "$(ssh-agent -s)"
#     - ssh-add ~/.ssh/id_rsa

#   script:
#     - ssh -o StrictHostKeyChecking=no ubuntu@86.50.22.0 "
#         echo 'Connected to VM, starting deployment...' &&
#         docker login $HARBOR_URL -u $HARBOR_USERNAME -p $HARBOR_PASSWORD &&
#         export APP_VERSION=$TAG &&
#         export ACTIVE_BACKEND=$ACTIVE_BACKEND &&
#         cd ~/project &&
#         docker-compose pull &&
#         docker-compose up -d &&
#         echo 'Deployment completed successfully.'
#       "
