variables:
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""

# Build stage remains the same
# Test stage fixed with SERVER_PID kill
test:
  stage: test
  image: amazoncorretto:21-alpine
  needs: ["build"]
  script:
    - java -cp build AverageServer &
    - SERVER_PID=$!
    - sleep 3
    - response=$(curl -s -X POST http://localhost:8199 -H "Content-Type: application/json" -d '{"numbers":[1,3,7,8]}')
    - echo "Response: $response"
    - kill $SERVER_PID
    - test "$response" = "4"

# Package stage: remove trivy artifact
package:
  stage: package
  image: docker:26
  services:
    - docker:dind
  needs: ["build"]
  script:
    - docker build -t harbor.treok.eu/$HARBOR_USERNAME/average-app:latest .

