stages:
  - build
  - package
  - deploy

variables:
  HARBOR_URL: "harbor.treok.eu"
  PROJECT: "devops_compcs140"
  TAG: "$CI_COMMIT_REF_NAME"   
  ACTIVE_BACKEND: "blue"
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
  DOCKER_CERT_PATH: ""

before_script:
  # Login to Harbor
  - echo "$HARBOR_PASSWORD" | docker login $HARBOR_URL -u "$HARBOR_USERNAME" --password-stdin

build:
  stage: build
  image:
    name: docker:24.0.1-dind  # includes bash
    entrypoint: ["/usr/bin/env", "bash", "-c"]
  services:
    - docker:24.0.1-dind
  script:
    # Wait for Docker daemon
    - until docker info; do echo "Waiting for docker daemon..."; sleep 1; done

    # Build all project images
    - docker build -t $HARBOR_URL/$PROJECT/compse140-test-storage:$TAG ./storage
    - docker build -t $HARBOR_URL/$PROJECT/compse140-test-service1:$TAG ./service1
    - docker build -t $HARBOR_URL/$PROJECT/compse140-test-management:$TAG ./management
    - docker build -t $HARBOR_URL/$PROJECT/compse140-test-monitoring:$TAG ./monitoring
    - docker build -t $HARBOR_URL/$PROJECT/compse140-test-gateway:$TAG ./gateway

  after_script:
    # Clean up images to save space on runner (important!)
    - docker image prune -f
    - docker system prune -f

package:
  stage: package
  image:
    name: docker:24.0.1
    entrypoint: ["/usr/bin/env", "bash", "-c"]
  script:
    - docker push $HARBOR_URL/$PROJECT/compse140-test-storage:$TAG
    - docker push $HARBOR_URL/$PROJECT/compse140-test-service1:$TAG
    - docker push $HARBOR_URL/$PROJECT/compse140-test-management:$TAG
    - docker push $HARBOR_URL/$PROJECT/compse140-test-monitoring:$TAG
    - docker push $HARBOR_URL/$PROJECT/compse140-test-gateway:$TAG

deploy:
  stage: deploy
  image:
    name: alpine:3.18
    entrypoint: ["/bin/sh", "-c"]
  script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa

    - |
      ssh -o StrictHostKeyChecking=no ubuntu@$SERVER_IP "
        docker login $HARBOR_URL -u $HARBOR_USERNAME -p $HARBOR_PASSWORD &&
        export APP_VERSION=$TAG &&
        export ACTIVE_BACKEND=$ACTIVE_BACKEND &&
        cd ~/project &&
        docker-compose pull &&
        docker-compose up -d
      "
