stages:
  - build
  - test
  - package
  - smoketest
  - scan
  - deliver

#variables:
#  DOCKER_HOST: "unix:///var/run/docker.sock"

variables:
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
  DOCKER_CERT_PATH: ""

# 1️⃣ Build Stage
build:
  stage: build
  image: amazoncorretto:21-alpine
  script:
    - "javac src/AverageServer.java -d build"
  artifacts:
    paths:
      - build/
    expire_in: 1h

# 2️⃣ Test Stage
test:
  stage: test
  image: amazoncorretto:21-alpine
  needs: ["build"]
  script:
    - "apk add --no-cache curl"
    - "java -cp build AverageServer &"
    - "sleep 3"
    - "response=$(curl -s -X POST http://localhost:8199 -H 'Content-Type: application/json' -d '{\"numbers\":[1,3,7,8]}')"
    - "if [ \"$response\" = \"4\" ]; then echo 'Test passed'; else echo 'Test failed: $response'; exit 1; fi"

# 3️⃣ Package Stage
package:
  stage: package
  image: docker:26
  services:
    - docker:dind
  needs: ["build"]
  script:
    - "docker build -t average-app ."

# 4️⃣ Smoketest Stage
smoketest:
  stage: smoketest
  image: amazoncorretto:21-alpine
  services:
    - docker:dind
  needs: ["package"]
  script:
    - "docker build -t average-app ."
    - "docker run -d -p 8199:8199 --name average-test average-app"
    - "sleep 5"
    - "response=$(curl -s -X POST http://localhost:8199 -H 'Content-Type: application/json' -d '{\"numbers\":[2,4,6]}')"
    - "echo Response: $response"
    - "docker stop average-test"
    - "docker rm average-test"
    - "if [ \"$response\" != \"4\" ]; then exit 1; fi"

# 5️⃣ Scan Stage
scan:
  stage: scan
  image: aquasec/trivy:0.56.2
  needs: ["package"]
  script:
    - "docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v $PWD:/app aquasec/trivy:0.56.2 image --severity HIGH,CRITICAL --exit-code 1 -f json -o trivy-report.json average-app:latest"
  artifacts:
    paths:
      - trivy-report.json

# 6️⃣ Deliver Stage
deliver:
  stage: deliver
  image: docker:26
  services:
    - docker:dind
  needs: ["scan"]
# rules:
 #   - if: '$CI_COMMIT_BRANCH == \"deliver\"'
  script:
    - "echo $HARBOR_PASSWORD | docker login harbor.treok.eu -u $HARBOR_USERNAME --password-stdin"
    - "docker tag average-app:latest harbor.treok.eu/$HARBOR_USERNAME/average-app:latest"
    - "docker push harbor.treok.eu/$HARBOR_USERNAME/average-app:latest"

