stages:
  - build
 
variables:
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
  DOCKER_CERT_PATH: ""

build:
  stage: build
  # rules:
  #   - if: '$CI_COMMIT_TAG == "deploy"'
  #     when: always
  #   - when: never
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "$HARBOR_PASSWORD" | docker login harbor.treok.eu -u "$HARBOR_USERNAME" --password-stdin
    # Build Docker image and tag for Harbor
    - docker build -t harbor.treok.eu/devops_compcs140/compse140-test-service1:latest ./service1
    - docker build -t harbor.treok.eu/devops_compcs140/compse140-test-storage:latest ./storage
    - docker push harbor.treok.eu/devops_compcs140/compse140-test-service1:latest
    - docker push harbor.treok.eu/devops_compcs140/compse140-test-storage:latest