version: "3.9"

services:
  storage:
    build: ./storage
    volumes:
      - logdata:/data
    networks:
      - internal

  gateway:
    build: ./gateway
    ports:
      - "80:80"
    depends_on:
      - storage
      - management
    networks:
      - internal

  management:
    build: ./management
    networks:
      - internal
    depends_on:
      - storage

  monitoring:
    build: ./monitoring
    networks:
      - internal
    depends_on:
      - storage

volumes:
  logdata:

networks:
  internal:
    driver: bridge

