services:
  storage:
    build: ./storage
    #image: harbor.treok.eu/devops_compcs140/compse140-test-storage:${APP_VERSION}
    # TODO below port info for local testing only - clean up later
    ports:
      - "5100:5000"
    volumes:
      - storage_data:/app/logs

  service1_blue:
    image: harbor.treok.eu/devops_compcs140/compse140-test-service1:project1.0
    depends_on:
      - storage
    ports:
      - "5101:5000"

  service1_green:
    image: harbor.treok.eu/devops_compcs140/compse140-test-service1:project1.1
    depends_on:
      - storage
    ports:
      - "5102:5000"

  management:
    build: ./management
    ports:
      - "8198:8000"
    depends_on:
      - storage
      - service1_blue
      - service1_green
    environment:
      MGMT_USER: ${MGMT_USER}
      SECRET_KEY: ${SECRET_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  gateway:
    build: ./gateway
    ports:
      - "8198:80"
      - "8199:8199"
    depends_on:
      - management
      - service1_blue
      - service1_green
      - storage
    environment:
      ACTIVE_BACKEND: ${ACTIVE_BACKEND}
    volumes:
      - ./gateway/certs:/etc/letsencrypt

  monitoring:
    build: ./monitoring
    ports:
      - "8200:8000"
    depends_on:
      - storage
      - service1_blue
      - service1_green

volumes:
  storage_data:
