version: "3.9"

services:
  storage:
    container_name: storage
    image: harbor.treok.eu/devops_compcs140/storage:project1.0
    platform: linux/amd64
    ports:
      - "5100:5000"
    volumes:
      - storage_data:/app/logs

  service1_blue:
    container_name: service1_blue
    image: harbor.treok.eu/devops_compcs140/service1:project1.0
    platform: linux/amd64
    depends_on:
      - service2_${ACTIVE_BACKEND}
      - storage
    environment:
      SERVICE2_HOST: service2_${ACTIVE_BACKEND}
    ports:
      - "5101:5000"

  service2_blue:
    container_name: service2_blue
    image: harbor.treok.eu/devops_compcs140/service2:project1.0
    platform: linux/amd64
    ports:
      - "5201:5000"
    depends_on:
      - storage

  service1_green:
    container_name: service1_green
    image: harbor.treok.eu/devops_compcs140/service1:project1.1
    platform: linux/amd64
    profiles: ["project1.1"]
    depends_on:
      - service2_green
      - storage
    environment:
      SERVICE2_HOST: service2_green
    ports:
      - "5102:5000"

  service2_green:
    container_name: service2_green
    image: harbor.treok.eu/devops_compcs140/service2:project1.1
    platform: linux/amd64
    profiles: ["project1.1"]
    ports:
      - "5202:5000"
    depends_on:
      - storage

  management:
    container_name: management
    image: harbor.treok.eu/devops_compcs140/management:project1.0
    platform: linux/amd64
    depends_on:
      - storage
      - service1_blue
      #- service1_green
    environment:
      MGMT_USER: ${MGMT_USER}
      SECRET_KEY: ${SECRET_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  gateway:
    container_name: gateway
    image: harbor.treok.eu/devops_compcs140/gateway:project1.0
    platform: linux/amd64
    ports:
      - "8198:80"
      - "8199:8199"
    depends_on:
      - management
      - service1_blue
      #- service1_green
      - storage
    environment:
      ACTIVE_BACKEND: ${ACTIVE_BACKEND}
    volumes:
      - ./gateway/certs:/etc/letsencrypt

  monitoring:
    container_name: monitoring
    image: harbor.treok.eu/devops_compcs140/monitoring:project1.0
    platform: linux/amd64
    ports:
      - "8200:8000"
    depends_on:
      - storage
      - service1_blue
      #- service1_green

volumes:
  storage_data: