version: "3.9"

services:
  storage:
    image: harbor.treok.eu/devops_compcs140/compse140-test-storage:${APP_VERSION}
    ports:
      - "5100:5000"
    volumes:
      - storage_data:/app/logs

  service1_blue:
    image: harbor.treok.eu/devops_compcs140/compse140-test-service1:project1.0
    depends_on:
      - service2_blue
      - storage
    environment:
      SERVICE2_HOST: service2_blue
    ports:
      - "5101:5000"

  service2_blue:
    image: harbor.treok.eu/devops_compcs140/compse140-test-service2:project1.0
    ports:
      - "5201:5000"
    depends_on:
      - storage

  service1_green:
    image: harbor.treok.eu/devops_compcs140/compse140-test-service1:project1.1
    depends_on:
      - service2_green
      - storage
    environment:
      SERVICE2_HOST: service2_green
    ports:
      - "5102:5000"

  service2_green:
    image: harbor.treok.eu/devops_compcs140/compse140-test-service2:project1.1
    ports:
      - "5202:5000"
    depends_on:
      - storage

  management:
    image: harbor.treok.eu/devops_compcs140/compse140-test-management:${APP_VERSION}
    depends_on:
      - storage
      - service1_blue
      - service1_green
    environment:
      MGMT_USER: ${MGMT_USER}
      SECRET_KEY: ${SECRET_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  gateway:
    image: harbor.treok.eu/devops_compcs140/compse140-test-gateway:${APP_VERSION}
    ports:
      - "8198:80"
      - "8199:8199"
    depends_on:
      - management
      - service1_blue
      - service1_green
      - storage
    environment:
      ACTIVE_BACKEND: ${ACTIVE_BACKEND}
    volumes:
      - ./gateway/certs:/etc/letsencrypt

  monitoring:
    image: harbor.treok.eu/devops_compcs140/compse140-test-monitoring:${APP_VERSION}
    ports:
      - "8200:8000"
    depends_on:
      - storage
      - service1_blue
      - service1_green

volumes:
  storage_data:
