services:
  service1:
    build: ./service1
    ports:
      - "8199:5000"           
    depends_on:
      - storage

  storage:
    build: ./storage
    volumes:
      - storage_data:/data    
volumes:
  storage_data:
